<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Kontak</title>
    <!-- Sertakan CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .contact-actions form {
            display: inline-block;
        }
        .contact-actions button, .contact-actions a {
            margin: 5px;
        }
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="/contact"><b>Contacts</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index"><i><u>Index</u></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about"><i><u>About</u></i></a>
              </li>
          </div>
        </div>
      </nav>
      <h1>Contacts Page</h1>
        <table class="table table-primary table-striped table-columns" border="1">
            <thead>
                <tr>
                    <center>
                    <th>Nama</th>
                    <th>No Telepon</th>
                    <th>Aksi</th>
                </center>
                </tr>
            </thead>
     <tbody>
        <a href="/tambah" class="btn btn-info" style="margin: 10px 0;">Tambah Kontak</a>

        <ul class="list-group">
            <% contacts.forEach(contact => { %>
                <tr>
                    <td><%= contact.nama %></td>
                    <td><%= contact.notelp %></td>
                    <td class="contact-actions">
                         <a href="/edit/<%= contact.nama %>" class="btn btn-primary">Edit</a> 

                        </form> 
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    </body>
</html>
