<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah</title>
</head>
<body>
    <h1>Tambah Contact</h1>
    <form action="/addContact" method="post">
        <label for="nama">Nama</label>
        <input type="text" name="nama" placeholder="Nama"> <br><br>
        <label for="nama">No Telpon</label>
        <input type="text" name="notelp" placeholder="No Telp"><br><br>
        <label for="nama">Email</label>
        <input type="text" name="email" placeholder="Email"><br><br>
        <button type="submit">Simpan</button>
    </form>
</body>
</html>