<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah</title>
</head>
<body>
    <form action="/addContact" method="post">
        <label for="nama">Nama</label>
        <input type="text" name="nama" placeholder="Nama">
        <label for="nama">No Telpon</label>
        <input type="text" name="notelp" placeholder="No Telp">
        <label for="nama">Email</label>
        <input type="text" name="email" placeholder="Email">
        <button type="submit">Simpan</button>
    </form>
</body>
</html>