/* CSS untuk form */
.container {
  height: 160vh; /* Mengisi tinggi viewport */
  display: flex; /* Menggunakan flexbox */
  justify-content: center; /* Memusatkan konten horizontal */
  align-items: center; /* Memusatkan konten vertikal */
  background-color: #d6d6d6; /* Warna latar belakang */
}

.form-container {
  width: 80%; /* Lebar form */
  max-width: 400px; /* Batas maksimum lebar form */
  padding: 20px; /* Padding di dalam form */
  background-color: #ffffff; /* Warna latar belakang form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan (shadow) */
  border-radius: 8px; /* Sudut melengkung */
  display: flex; /* Menggunakan flexbox */
  flex-direction: column; /* Menyusun konten dalam bentuk kolom */
}

.field-group {
  margin-bottom: 20px; /* Jarak antar field */
}

.field-group label {
  font-weight: bold; /* Memberi tebal pada label */
  margin-bottom: 5px; /* Jarak antara label dengan input field */
  display: block; /* Memastikan label berada di atas input */
}

.field-group input[type="text"],
.field-group textarea,
.field-group select {
  width: 100%; /* Lebar input field */
  padding: 10px; /* Padding di dalam input field */
  font-size: 16px; /* Ukuran font input field */
  border: 1px solid #ccc; /* Border */
  border-radius: 4px; /* Sudut melengkung */
  box-sizing: border-box; /* Mengatur box-sizing untuk menghindari overflow */
}

.buttons {
  margin-top: 20px; /* Jarak antara tombol dengan field */
  display: flex; /* Menggunakan flexbox */
  justify-content: space-between; /* Menyusun tombol di antara */
}

.buttons button {
  padding: 12px 24px; /* Padding pada tombol */
  font-size: 16px; /* Ukuran font pada tombol */
  border: none; /* Menghapus border */
  border-radius: 4px; /* Sudut melengkung */
  cursor: pointer; /* Menjadikan kursor menjadi pointer */
  background-color: #007bff; /* Warna latar belakang tombol */
  color: #fff; /* Warna teks tombol */
  transition: background-color 0.3s; /* Transisi warna latar belakang saat hover */
}

.buttons button:hover {
  background-color: #0056b3; /* Warna latar belakang tombol saat dihover */
}

.source-code {
  margin-top: 20px; /* Jarak antara source code dengan form */
  padding: 15px; /* Padding di dalam source code */
  background-color: #868686; /* Warna latar belakang source code */
  border: 1px solid #000000; /* Border */
  border-radius: 4px; /* Sudut melengkung */
  font-family: monospace; /* Menggunakan font monospace pada source code */
  white-space: pre-wrap; /* Mengatur wrap teks */
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .form-container {
    width: 30%; /* Lebar form pada layar kecil */
  }
}
